<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>現在地周辺</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-list>
    <ion-list-header>Recommended</ion-list-header>
    <!-- NOTE: Type を使って比較したい -->
    <ion-item *ngFor="let restaurant of restaurants" [routerDirection]="'root'" (click)="open(restaurant)">
      <ion-icon slot="start" [name]="'happy'"></ion-icon>
      <ion-label>{{ restaurant.name }}</ion-label>
      <ion-badge item-end>{{ restaurant.cal }}Kcal</ion-badge>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>Not Recommended</ion-list-header>
    <!-- NOTE: Type を使って比較したい -->
    <ion-item *ngFor="let restaurant of highCalorieRestaurants" [routerDirection]="'root'" (click)="open(restaurant)">
      <ion-icon slot="start" [name]="'sad'"></ion-icon>
      <ion-label>{{ restaurant.name }}</ion-label>
      <ion-badge item-end color="danger">{{ restaurant.cal }}Kcal（↑ {{  restaurant.cal - restOfCalorie }}Kcal）</ion-badge>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>Unknown</ion-list-header>
    <ion-item *ngFor="let restaurant of unknownCalorieRestaurants" [routerDirection]="'root'" (click)="open(restaurant)">
      <ion-icon slot="start" [name]="'restaurant'"></ion-icon>
      <ion-label>{{ restaurant.name }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
