<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ restaurant.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-card>
    <ion-card-header class="total">
      <div><img src="{{ restaurant.img_url }}" /></div>
    </ion-card-header>
  </ion-card>
  <ion-list>
    <!-- NOTE: Type を使って比較したい -->
    <ion-item (click)="openCamera()">
      <ion-icon slot="start" [name]="'camera'"></ion-icon>
      <ion-label>食べる</ion-label>
    </ion-item>
    <a href="{{ restaurant.url }}">
      <ion-item>
        <ion-icon slot="start" [name]="'home'"></ion-icon>
        <ion-label>お店のページを開く</ion-label>
      </ion-item>
    </a>
  </ion-list>
</ion-content>
