<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>履歴</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-card>
    <ion-card-header class="total">
      <div>
        <ion-icon slot="start" [name]="'sad'" *ngIf="total - calorie > 0"></ion-icon>
        <ion-icon slot="start" [name]="'happy'" *ngIf="total - calorie <= 0"></ion-icon>
      </div>
      <div>{{ total }}Kcal / {{ calorie }}Kcal</div>
    </ion-card-header>
  </ion-card>
  <ion-list>
    <!-- NOTE: Type を使って比較したい -->
    <ion-item *ngFor="let history of histories" [routerDirection]="'root'" [routerLink]="'/search'">
      <ion-icon slot="start" [name]="'pizza'" *ngIf="history.type === 'food'"></ion-icon>
      <ion-icon slot="start" [name]="'walk'" *ngIf="history.type === 'excercise'"></ion-icon>
      <ion-label>{{ history.name }}</ion-label>
      <ion-badge item-end>{{ history.type === 'excercise' ? '-' : '' }}{{ history.calorie }}Kcal</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
